[submodule "Libraries/eigen"]
	path = Libraries/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Libraries/kalman"]
	path = Libraries/kalman
	url = git@github.com:mherb/kalman.git
[submodule "Libraries/map-macro/map-macro"]
	path = Libraries/map-macro/map-macro
	url = git@github.com:swansontec/map-macro.git
[submodule "Libraries/TSP"]
	path = Libraries/TSP
	url = git@github.com:FredBill1/TSP.git
